# ---------------------------------------------
# DockerイメージやGitリポジトリに含めないファイル・フォルダ
# ---------------------------------------------

# データベース初期化スクリプト
init_db.py

# Pythonキャッシュおよびコンパイル済みファイル
__pycache__
*.pyc
*.pyo
*.pyd

# Git管理対象外
.git
.gitignore

# 環境変数ファイル（機密情報保護のため）
.env

# IDEおよびエディタ設定フォルダ
.vscode
.idea

# Python仮想環境フォルダ
venv
.venv